@import "../_fonts.scss";

.Section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 23vh;

  position: relative;

  height: auto;

  width: 100vw;

  background-color: rgba(255, 255, 255, 1);

  color: rgba(16, 16, 16, 1);
  text-align: left;

  h1,
  h2 {
    text-transform: uppercase;
  }

  h1,
  .quote,
  .comma {
    font-family: "Raleway", sans-serif;
  }

  h1,
  .quote {
    font-weight: 400;
  }

  h2 {
    font-family: "FuturaPTDemi", sans-serif;

    font-size: clamp(1px, 2vw, 27px);

    @media (max-aspect-ratio: 1/1) {
      font-size: clamp(1px, 3vw, 27px);
    }
  }

  .text,
  .desc {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 300;
    font-size: clamp(1px, 1.5vw, 21px);
    color: #333333;

    @media (max-aspect-ratio: 1/1) {
      font-size: clamp(1px, 4vw, 20px);
    }
  }

  .text {
    @media (max-aspect-ratio: 1/1) {
      text-align: justify;
    }
  }

  .qSection {
    display: flex;
    flex-direction: row;
  }

  .comma {
    font-weight: 700;
    font-size: clamp(1px, 7vw, 72px);

    &.left {
      position: absolute;
      top: 0;
      left: 0;
      color: #000;
    }

    &.right {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #000;
    }

    @media (max-aspect-ratio: 1/1) {
      &.left {
        left: -1vh;
        top: -1vh;
      }

      &.right {
        bottom: -0.5vh;
        right: -0.5vw;
      }
    }
  }

  .quote {
    font-size: clamp(1px, 2.5vw, 24px);
    margin: 0;
    padding-left: 2vw;
    padding-right: 1vw;
    line-height: 1;

    @media (max-aspect-ratio: 1/1) {
      font-size: clamp(1px, 4.5vw, 20px);
      padding-left: 1vw;
      padding-right: 1vw;
    }
  }

  .title {
    position: absolute;
    top: 14.1vh;
    left: 9.4vw;
    @media (max-width: 768px) {
      padding-bottom: 2.7vw;
    }

    @media (max-width: 480px) {
      padding-bottom: 0.7vw;
      top: 10vh;
    }

    font-size: clamp(1px, 4vw, 58px);

    @media (max-aspect-ratio: 1/1) {
      font-size: clamp(1px, 6vw, 58px);
    }
  }

  .blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8.6vh;

    margin-top: 35.1vh;

    @media (max-aspect-ratio: 1/1) {
      gap: 4vh;
      margin-top: 20vh;
    }

    .block {
      z-index: 1;
      width: 81.25vw;
      height: auto;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3.7vw;

      background-color: rgba(255, 255, 255, 0.02);
      border: 1px solid rgba(255, 255, 255, 1);
      border-radius: 20px;
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(16px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);

      padding: 88px 69px 74px 68px;

      @media (max-aspect-ratio: 1/1) {
        width: 90vw;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        padding: 3vh 3vh 3vh 3vh;

        .personDesc {
          width: 80vw;
        }
      }

      @media (max-width: 768px) {
        gap: 2.5vw;
      }

      @media (max-width: 480px) {
        gap: 3vw;
      }

      img {
        width: clamp(120px, 20vw, 300px);
        height: auto;
        object-fit: contain;

        @media (max-width: 1440px) {
          width: clamp(80px, 24vw, 300px);
        }

        @media (max-width: 768px) {
          width: clamp(200px, 20vw, 300px);
        }

        @media (max-width: 480px) {
          width: clamp(200px, 15vw, 300px);
        }
      }

      .qSection {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 20px 40px;
        margin: 20px 0;

        @media (max-width: 768px) {
          padding: 10px 20px;
          margin: 10px 0;
        }

        @media (max-width: 480px) {
          padding: 5px 10px;
          margin: 5px 0;
        }
      }
    }

    h1 {
      font-size: clamp(1px, 4vw, 45px);

      @media (max-aspect-ratio: 1/1) {
        font-size: clamp(1px, 7vw, 45px);
      }

      @media (max-width: 768px) {
        padding-bottom: 2.7vw;
      }

      @media (max-width: 480px) {
        padding-bottom: 0.7vw;
      }
    }
  }

  .shadow {
    position: absolute;

    top: -381.92px;
    left: 135px;

    width: 3140.94px;
    height: 171vh;

    background: rgba(1, 156, 229, 0.1);
    border-radius: 50%;
    filter: blur(326.69px);
    z-index: 0;
    overflow: visible;
  }
}
